@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #FFFFFF;
    --p-color: #667085;
    --dark-red-color: #8E2424;

    --font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
}

.navbar {
    padding: 2% 5%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu__item{
    text-decoration: none;
    color: var(--p-color);
}

.navbar__menu__item:hover {
    text-decoration: underline;
}

.navbar__menu__content {
    display: flex;
    gap: 2em;
}

.navbar__menu__buttons {
    display: flex;
    align-items: center;
    gap: 1.875em;
    margin-left: 18%;
}

.register {
    padding: 0.938em;
    border-radius: 8px;
    background-color: var(--dark-red-color);
    color: var(--bg-color);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.5em;
    text-align: center;
    padding: 3% 8%;
}

.header__subtitle {
    color: var(--dark-red-color);
    font-weight: 600;
}

.header__title {
    font-size: 3rem;
    font-weight: 600;
}

.header__content {
    font-size: 1.25rem;
    color: var(--p-color);
}

.metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    margin: 6%;
}

.metrics__content-title {
    font-size: 3.75rem;
    color: var(--dark-red-color);
    font-weight: 600;
    padding: 0 0 15px 0;
}

.metrics__content-subtitle {
    font-size: 1.125rem;
    padding: 0 0 10px 0;
}

.metrics__content-paragraph {
    font-weight: 400;
    color: var(--p-color);
}

.talent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
}

.talent__subtitle {
    background-color: rgba(142, 36, 36, 0.05);
    width: max-content;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 5px 2px var(--p-color);
    align-self: center;
    font-size: 0.875rem;
    color: var(--dark-red-color);
}

.talent__title {
    font-size: 2.25rem;
    font-weight: 600;
}

.talent__paragraph {
    color: var(--p-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.talent__image {
    width: auto;
    padding: 2% 3% 3% 3%;
    align-self: center;
}
