@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white-color: #FFFFFF;
    --darker-white-color: rgba(142, 36, 36, 0.05);
    --very-light-grey-color: #EAECF0;
    --second-very-light-grey-color: #F9FAFB;
    --third-very-light-grey-color: #D0D5DD;
    --grey-color: #667085;
    --dark-red-color: #8E2424;
    
    --font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--white-color);
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
}

.navbar {
    padding: 2% 5%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu__item {
    text-decoration: none;
    color: var(--grey-color);
}

.navbar__menu__item:hover {
    text-decoration: underline;
}

.navbar__menu__content {
    display: flex;
    gap: 2em;
}

.navbar__menu__buttons {
    display: flex;
    align-items: center;
    gap: 1.875em;
    margin-left: 18%;
}

.register {
    padding: 0.938em;
    border-radius: 0.5em;
    background-color: var(--dark-red-color);
    color: var(--white-color);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.5em;
    text-align: center;
    padding: 3% 8%;
}

.header__subtitle {
    color: var(--dark-red-color);
    font-weight: 600;
}

.header__title {
    font-size: 3rem;
    font-weight: 600;
}

.header__content {
    font-size: 1.25rem;
    color: var(--grey-color);
}

.metrics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    margin: 6%;
}

.metrics__content-title {
    font-size: 3.75rem;
    color: var(--dark-red-color);
    font-weight: 600;
    padding: 0 0 0.625em 0;
}

.metrics__content-subtitle {
    font-size: 1.125rem;
    padding: 0 0 0.625em 0;
}

.metrics__content-paragraph {
    font-weight: 400;
    color: var(--grey-color);
}

.talent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 1.875em;
}

.talent__subtitle {
    background-color: var(--darker-white-color);
    padding: 0.625em;
    border-radius: 1.75em;
    align-self: center;
    font-size: 0.875rem;
    color: var(--dark-red-color);
}

.talent__title {
    font-size: 2.25rem;
    font-weight: 600;
}

.talent__paragraph {
    color: var(--grey-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.talent__image {
    padding: 2% 3% 0 3%;
    align-self: center;
}

.jobs {
    padding: 8% 30% 6% 30%;
}

.job__section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.job__section__title {
    font-size: 1.125rem;
    text-align: left;
    padding: 0 0 3%;
}

.job__section__content {
    border: 1px solid var(--very-light-grey-color);
    border-radius: 0.75em;
    padding: 1.875em 1.25em;
    margin: 0.938em 0;
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

.job__section__content__title {
    font-size: 1.25rem;
    padding: 0 0 2.188em 0;
}

.job-info {
    display: flex;
    color: var(--grey-color);
    gap: 1.25em;
}

.testimony {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 1.875em;
    background-color: var(--darker-white-color);
    margin: 0 18% 8%;
    padding: 4% 2%;
    border-radius: 0.938em;
}

.testimony__title {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--dark-red-color);
}

.testimony__quote {
    font-size: 2.25rem;
}

.testimony__attribution__title {
    padding-top: 1.25em;
}

.testimony__attribution__paragraph {
    color: var(--grey-color);
    font-size: 0.875rem;
    font-weight: 400;
}

.form-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 6% 6% 3%;
    row-gap: 1.785em;
    background-color: var(--second-very-light-grey-color);
}

.form-footer__title {
    font-size: 2.25rem;
    font-weight: 600;
}

.form-footer__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--grey-color);
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 1.785em;
}

.form-footer__form {
    border: 1px solid var(--third-very-light-grey-color);
    border-radius: 0.5em;
    padding: 0.313em 0.625em;
    width: 18.75em;
    background-color: var(--white-color);
}

.form-footer__form::placeholder {
    color: var(--grey-color);
    font-weight: 400;
}

.form-footer__button {
    padding: 0.938em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--dark-red-color);
    color: var(--white-color);
    cursor: pointer;
}

.form-footer__attribution {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-color);
}
